@model CvReference

@{
    ViewData["Title"] = "Referans Ekle";
    Layout = "_AdminLayout";
}

<div class="row">
    <div class="col-md-8 mx-auto">
        <div class="card card-secondary">
            <div class="card-header">
                <h3 class="card-title">Referans Bilgileri</h3>
            </div>
            <form method="post" action="/Admin/CreateReference">
                @Html.AntiForgeryToken()
                <div class="card-body">
                    <div class="form-group">
                        <label>Referans Adı</label>
                        <input type="text" name="Name" class="form-control" required />
                    </div>
                    <div class="form-group">
                        <label>Çalıştığı Firma Adı</label>
                        <input type="text" name="Company" class="form-control" required />
                    </div>
                    <div class="form-group">
                        <label>Firmadaki Pozisyonu</label>
                        <input type="text" name="Position" class="form-control" required />
                    </div>
                    <div class="form-group">
                        <label>E-posta Adresi</label>
                        <input type="email" name="Email" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label>Telefon Numarası</label>
                        <input type="text" name="Phone" class="form-control" />
                    </div>
                </div>
                <div class="card-footer text-right">
                    <button type="submit" class="btn btn-secondary">Kaydet</button>
                    <a href="/Admin/References" class="btn btn-default">İptal</a>
                </div>
            </form>
        </div>
    </div>
</div>
